#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADA;
}

#modal {
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* "flex-direction: column" can place items vertically even though you used "flex" which places things horizontally to justify things as center */
    width: 60%;
    height: 40%;
    background-color: #DAD;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: white;
}

button {
    background-color: grey;

}